
body{
  padding :0;
  margin:0;
}
.main {
    margin: 50px; /* Add a top margin to avoid content overlay */
  }

  
nav.top-nav{
    position: fixed;
    top: 0;
    left:0;
    margin: 0px 5px 5px 0px;
    width: 100%;
}

ul.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li.top-nav {
    color: aliceblue;
    padding-right: 10;
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: #111;
  }
  
.active {
    background-color: #04AA6D;
  }

  #check{display: none;}

.who-pic{
    border-radius: 50%;
    padding: 10px;
  }
/* .who-bio{

} */

  hr{
    color: #04AA6D;
  }
  h2{
    display: flex;
    justify-content: center;
    font-size:xx-large;
  }

  .item{
    /* display: flex; */
    padding-left :25px;
    border-color: #04AA6D;
    border-style: groove;
    display: flex;
    justify-content: space-around;
  }

  .item-title{
    margin-left: 25px;
    font-size: 25px;
  }
  .item-pic{
    border-color: #04AA6D;
    border-style: dotted;
    margin: 15px;
    border-radius: 50%;
  }
  .item-body{
    display: flex;
    padding-top: 20px;  
    justify-content: center;
  }
.quote{
    color: white;
    background-color: #222;
    height: 160px;
    padding-top: 20px;
    padding-left: 20px;

}

.body-quote{
    padding-left: 15px;
    border: 5px;
}

.author-quote{
    padding-left:250px;
}
.newsletter{
    background-color: #111;
    color: aliceblue;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    height: 55px;
}



  .foot{
    width: 100%;
    height: 30px;
    background-color:black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:150px){
    #check{
        display: block;
    }
    ul.top-nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:80px;
        left:0;
        text-align: center;
    }
    .top-nav{
        display: block;
    }
}